<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Registration</title>
</head>
<body>
<center><h3>...........Add Students Here...........</h3></center>
<form method="post" action="savestudent">
<div>
<table align="center">
<tr>
<td><label><b>Username</b></label></td>
<td><input type="text" placeholder="Enter Username" name="username" required></td>
</tr>
<tr>
<td><label><b>Password</b></label></td>
<td><input type="text" placeholder="Enter Password" name="password" required></td>
</tr>
<tr>
<td><label><b>Full Name</b></label></td>
<td><input type="text" placeholder="Enter Full Name" name="fullname" required></td>
</tr>
<tr>
<td><label><b>Email ID</b></label></td>
<td><input type="text" placeholder="Enter Email ID" name="email" required></td>
</tr>
<tr>
<td><label><b>SSC Score</b></label></td>
<td><input type="text" placeholder="Enter SSC Score" name="ssc_score" required></td>
</tr>
<tr>
<td><label><b>Degree Score</b></label></td>
<td><input type="text" placeholder="Enter Degree Score" name="degree_score" required></td>
</tr>
<tr>
<td><label><b>Phone Number</b></label></td>
<td><input type="text" placeholder="Enter Phonenumber" name="phone_number" required></td>
</tr>
<tr>
<td><label><b>City</b></label></td>
<td><input type="text" placeholder="Enter City" name="city" required></td>
</tr>
</table>
<br>
<center><button type="submit" name="addstudent">Register</button></center>
</br></div>
</form>

</body>
</html>